POSTGRES_USER=clouduser
POSTGRES_PASSWORD=super_secure_password
POSTGRES_DB=cloudnotes

DATABASE_URL=postgresql://clouduser:super_secure_password@db:5432/cloudnotes

SECRET_KEY=CHANGE_THIS_TO_YOUR_REAL_SECRET_KEY

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

DEBUG=true

